.newUserTitle{
    font-size: 30px;
    padding: 10px;
    font-weight: 600;
}
.selection{
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 20px;
    text-align: center;
}
.selection>label{
    padding-right: 100px;
}
.selection>input{
    padding: 10px;
}
.newUserForm{
    display: flex;
    flex-wrap: wrap; 
    margin: 50px;
}
.newUserItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newUserItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
}
.newUserItem>input{
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newUserGender>input{
    margin: 15px;
    font-size: 18px;
    color: gray;
}
.newUserSelect{
    height: 40px;
    border-radius: 5px;
}
.newUserButton{
    width: 100px;
    height: 50px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 0px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}