
  .containerBackup {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  

  .responsive-table li {
      height: 80px;
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .responsive-table .table-header {
      height: 50px;
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
      height: 80px;
    background-color: #efe6e6;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 30%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  .responsive-table .col-4 {
    flex-basis: 25%;
  }
  .responsive-table .col-5 {
    flex-basis: 8%;
  }
  .responsive-table .col-6 {
    flex-basis: 25%;
  }
  .responsive-table .col-7 {
    flex-basis: 19%;
  }
  .responsive-table .col-8 {
    flex-basis: 30%;
  }
  
  .status {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    background-color: #38af28;
  }
  .buttonBackup{
      float: right;
      line-height: 2;
      display: inline-block;
      font-size: 1.2rem;
      text-decoration: none;
      border-radius: 5px;
      color: #fff;
      padding: 8px;
      background-color: #0a0acb;
  }