:root{
    --bg-color:rgb(235, 235, 235);
    --primary-color: #2ecc71;
}
.addNewVacc{
    margin: 50px;
    padding: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    gap: 40px;
}
.title{
    padding: 10x;
}
.row{
    display: flex;
    gap:40px;
}
.inputbox{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 40px;

}
.inputbox label{
    position: relative;
    top: 0;
    left: 10px;
    font-size: 20px;
    transition: .5s;     
    color: rgb(0, 0, 0);
}
.inputbox input{
    width: 100%;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
}
.addvacc{
    padding: 10px 15px;
    background-color: #2ecc71;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.dateinput{
    padding: 10px 50px; 
    width: 100%;
}