.filter {
    margin: 50px;
    /* padding: 20px; */
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.filterTitle {
    padding: 20px;
}

.tableListVaccine {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}


.thListVaccine {
    padding: 15px 20px;
    text-align: center;
}

.tdListVaccine {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.thListVaccine {
    background-color: #ba68c8;
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.trListVaccine {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}


.vaccineListEdit{
    color: rgb(29, 0, 248);
    cursor: pointer;
    margin-right: 20px;
}
.vaccineListDelete{
    color: red;
    cursor: pointer;
}

